{% extends "base.html" %}

{% block content %}

<div class="container my-4">
    <div class="row justify-content-center mb-4">
        <h3>Edit Profile</h3>
    </div>
    <div class ="row justify-content-center">
        <form action="" method="post">
            {{form.hidden_tag() }}
            <p class="label text-center">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="label text-center">
                {{ form.about_me.label }}<br>
                {{ form.about_me(cols=50, rows=4) }}<br>
                {% for error in form.about_me.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="text-center">
                {{ form.submit() }}
            </p>
        </form>
    </div>

</div>
{% endblock %}